<footer>
  <div>
    Made with &hearts; in Oakland by <a href="https://twitter.com/jumph4x" target="_blank">@jumph4x</a> &amp; <a href="https://twitter.com/EmaGrayson" target="_blank">@EmaGrayson</a>.<br/>
    Background credits <a href="http://ashleybrownart.com/" target="_blank">Ashley Brown</a>. <br/>
    Srsly tho, I'm a <a href="http://downshiftlabs.com">SF Bay Area Spree Commerce</a> pro, get at me.
  </div>
</footer>

<%= javascript_include_tag "application" %>
