<div>
  Made with &hearts; in Oakland by <a href="https://twitter.com/jumph4x" target="_blank">@jumph4x</a> &amp; <a href="https://twitter.com/EmaGrayson" target="_blank">@EmaGrayson</a>
</div>

<%= javascript_include_tag "application" %>
