// http://colorschemedesigner.com/#5f31Tw0w0w0w0
body
  padding: 0
  margin: 0
#logo
  width: 50%
figure
  margin: 0
.container
  max-width: 62.5em
  margin: 0 auto
  background: rgba(20,20,20,0.97)
  opacity: 0.99
  box-shadow: 0 0 69px black
  border-left: 5px ridge #00BF32
  border-right: 5px ridge #00BF32
.banner
  background-size: cover
  min-height: 600px
  background-position: center center
footer
  padding: 1rem
  color: #D50065
