<div class="banner" style="padding-top: <%= rand(30) + 2-%>rem; background-image: url(<%= asset_path RandomBgSelector.new.random_path -%>)">
  <a style="padding-left: <%= rand(40) + 2-%>%" href="/products" class="call-to-action">Shop Now!</a>
</div>
